<html>
    <head>
        <title>{{ .project_name }}</title>
    </head>
    <body>
        <table>
            <tr><th>Foo</th><td>{{ .foo }}</td></tr>
            <tr><th>Bar</th><td>{{ .bar }}</td></tr>
            <tr><th>Baz</th><td>{{ .baz }}</td></tr>
        </table>
    </body>
</html>

